{% extends "./plantilla.html" %}

{% block contenido %}
<div class="container mt-4">
    <h1 class="mb-4">Editar Platillo</h1>
    <form method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="mb-3">
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-primary">Actualizar</button>
        <!-- Botón de Volver a la Lista -->
        <a href="{% url 'listar_platillos' %}" class="btn btn-danger ms-2 ">
            <i class="bi bi-arrow-left-circle"></i> Cancelar
        </a>
    </form>
</div>
{% endblock %}
